<div class = "login-container">
    <div class = "user-title">
        <label>
         User Login  
        </label>
    </div>

    <form [formGroup]="loginForm">
        <div class="cp-form">
            <div class="field-list-login">
                    <div class="form-group">
                        <label for="" class="form-label">Email ID</label>
                        <div class="input-group">
                            <input placeholder="Email" type="text" formControlName="userName" name="username" #username pInputText class="form-control"  [ngClass]="(loginSubmitted || f.userName.dirty)  && f.userName.errors ? 'is-invalid': ''" >
                        </div>
                        <div *ngIf="(loginSubmitted || f.userName.dirty) && f.userName.errors" class="invalid-error">
                            <div *ngIf="f.userName.errors.required">
                                {{errormessages.FIELD_IS_REQUIRED}}
                            </div>
                            <div *ngIf="f.userName.errors.pattern">
                                {{errormessages.EMAIL_IS_INVALID}}
                            </div>
                        </div>
                    </div>
              
                    <div class="form-group with-icon">
                        <label for="" class="form-label">Password</label>
                        <div class="input-group">
                            <span class="icon icon-eye view-pwd" ></span>
                            <input placeholder="Password" formControlName="password" name="password" id="password" #pw pInputText class=" form-control" [ngClass]="(loginSubmitted || f.password.dirty) && f.password.errors ? 'is-invalid': ''" >
                        </div>
                        <div *ngIf="(loginSubmitted || f.password.dirty) && f.password.errors" class="invalid-error">
                            <div *ngIf="f.password.errors.required">
                                {{errormessages.FIELD_IS_REQUIRED}}

                            </div>
                            <div *ngIf="f.password.errors?.minlength">
                                {{errormessages.LOGIN_PASSWORD_MIN_LENGTH}}
                            </div>
                            <div *ngIf="f.password.errors?.maxlength">
                            </div>

                        </div>
                    </div>
                <div class="btn-wrap">
                    <button type="button" class="btn btn-default" (click)="login()" >Login</button>
                </div>
            </div>
         
        </div>
    </form>
</div>