.field-list-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.invalid-error {
    position: absolute;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 4.4rem;
    margin-top: 0.6rem;
    color: red;
}

.is-invalid {
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 0.6rem;
}

.form-group{
    height: 70px;
}

.login-container{
    position: fixed;
    left: 35rem;
    top: 2 rem;
    top: 4rem;
    border: 1px solid #80808040;
    width: 40 rem;
    width: 20rem;
    height: 20rem;
    background: blanchedalmond;
    font-family: Roboto;
    font-size: 16px;
}
.user-title{
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
}
.cp-form{
    margin-left: 2rem;
}

.form-control{
    width: 14rem;
    height: 1.5rem;
    font-family: Roboto;
    cursor: pointer;
}

.btn-wrap{
    justify-content: center;
    display: flex;
    margin-top: 2rem;
}
.btn{
    height: 1.5rem;
    width: 7rem;
    height: 2rem;
    width: 7rem;
    font-size: 16px;
    font-weight: bold;
}